#manage-container {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	justify-content: space-around;

	-webkit-align-items: flex-start;
	align-items: flex-start;

	text-align: center;
}

.manager_stats {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	justify-content: space-around;

	-webkit-align-items: flex-start;
	align-items: flex-start;

	-webkit-box-flex: 1 auto;
	-moz-box-flex: 1 auto;
	-webkit-flex: 1 auto;
	-ms-flex: 1 auto;
	flex: 1 auto;

	padding: 10px;
}

.manager_stats__box {
	box-sizing: border-box;
	position: relative;
	width: 30%;
	display: block;

	background: #333333;
	color: #ffffff;

	-webkit-box-flex: 0 auto;
	-moz-box-flex: 0 auto;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;

	padding: 10px;
}

.manager_stats__box h2 {
	font-size: 24px;
	font-family: "OpenSans-Light";
	color: #ffffff;
}

.manager_stats__box p {
	font-size: 34px;
	font-family: "OpenSans-Regular";
	font-weight: 800;
	padding: 10px 0 10px 0;
	color: #ffffff;
}

.table_container {
	box-sizing: border-box;
	position: relative;
	width: 50%;
	display: block;

	-webkit-box-flex: 1 auto;
	-moz-box-flex: 1 auto;
	-webkit-flex: 1 auto;
	-ms-flex: 1 auto;
	flex: 1 auto;

	padding: 10px;
}

.manager.manager_table {
	width: 100%;
	border-collapse: collapse;
}

.manager.manager_table tr {
	font-family: "OpenSans-Regular";
	text-align: center;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #E6E6E6;
	background-image: none;
	background-origin: padding-box;
	background-position: 0% 0%;
	background-repeat: repeat;
	background-size: auto auto;
	border-collapse: collapse;
	height: 40px;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}

.manager.manager_table tr:hover {
	background-color: #333333;
	color: #eaeaea;
}

.manager.manager_table th {
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	text-align: center;
}

.manager_table__th__userid {
	min-width: 80px;
}

.manager_table__th__action {
	padding: 0 15px 0 15px;
	width: 60px;
}

.manager_table__th__id {
	padding: 0 15px 0 15px;
	width: 10px;
}

.manager_table__th__admin {
	padding: 0 15px 0 15px;
	width: 60px;
}

.manager_table__publication__td {
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	text-align: center;
}

.manager_table__publication__text {
	font-size: 13px;
	line-height: 18px;
	padding: 10px 0 10px 0;
	cursor: pointer;
}

.manager_table__user img {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.manager_table__td__button {
	background: #e74c3c;
	color: #eaeaea;
	width: 30px;
	height: 30px;
	border: 0;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.manager_table__td__button:hover {
	cursor: pointer;
	background: #eaeaea;
	color: #e74c3c;
}

.manager_table__td__button__admin {
	cursor: pointer;
	color: #eaeaea;
	width: 30px;
	height: 30px;
	border: 0;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.manager_table__td__button__admin.true {
	background: #2ecc71;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.manager_table__td__button__admin.true:hover {
	background: #eaeaea;
	color: #2ecc71;
}

.manager_table__td__button__admin.false {
	background: #333333;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.manager_table__td__button__admin.false:hover {
	background: #eaeaea;
	color: #333333;
}